# 环境变量配置
# 复制此文件为 .env.local 并填入实际值

# Strapi CMS 配置
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=your-api-token

# 腾讯地图配置
# 访问 https://lbs.qq.com/dev/console/application/mine 注册并创建应用获取密钥
NEXT_PUBLIC_TENCENT_MAP_KEY=GRDBZ-VMFEQ-FN75C-4HYJZ-Y36R2-W5BUT


# 其他配置
NEXT_PUBLIC_SITE_URL=http://localhost:3000
